<h1>Student List</h1>

<ul>
    <% @students.each do |student| %>
        <li>Name: <%= student.first_name %> <%= student.second_name %></li>
        <li>House: <%= student.house %></li>
        <li>Age: <%= student.age %></li>
        <hr/>
    <% end %>
</ul>
